body {
  background-color: 
  #d6d0d0
  ;
}

.container {
  text-align: center;
}

.word-container{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 15px;
}

.input-letter {
  text-align: center;
  width: 25px;
  height: 25px;
  border: 1px solid black;
}

.img-el {
  padding-top: 10px;
  width: 300px;
  max-height: 450px;
}